.popup__button-save {
  max-width: 358px;
  height: 50px;
  margin: 48px 36px 37px 36px;
  background-color: #000;
  border: 1px solid #ccc;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  text-align: center;
}

.popup__button-save:hover {
  background-color: rgba(0, 0, 0, 0.8);
  transition: background-color 1s ease;
}

@media screen and (max-width: 550px) {
  .popup__button-save {
    margin: 46px 22px 25px 22px;
    font-size: 14px;
    line-height: 17px;
  }
}
