@import url(../vendor/normalize.css);
@import url(../fonts/inter.css);

@import url(../blocks/page/page.css);

body {
  color: #fff;
  font-family: "Inter", serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000000;
}
